<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://agilify.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>agilify.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Agilify</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Agilify</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AgilifyService.Data.AgilifyContext" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:infinitivity.database.windows.net,1433;Initial Catalog=AgilifyDB;User ID=theloar@infinitivity;Password=A@d3m4s8" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="AgilifyService.Data.AgilifyContext, AgilifyService" MigrationConfiguration="AgilifyService.Migrations.Configuration, AgilifyService" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=tcp:infinitivity.database.windows.net,1433;Initial Catalog=AgilifyDB;Persist Security Info=False;User ID=theloar;Password=A@d3m4s8;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:infinitivity.database.windows.net,1433;Initial Catalog=AgilifyDB;Persist Security Info=False;User ID=theloar;Password=A@d3m4s8;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AgilifyService.Data.AgilifyContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:infinitivity.database.windows.net,1433;Initial Catalog=AgilifyDB;User ID=theloar@infinitivity;Password=A@d3m4s8</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="AgilifyService.Data.AgilifyContext" />
  </ItemGroup>
</Project>